{% extends 'base.html' %}
{% load static %}
{% block 'main'%}
<div class="row mt-3">
    <div class="col-md-4 text-bg-light p-3">
         <h5>Filter by Category</h5>
         <hr>  
         <p><a class="anchor" href="/catfilter/1">By Mobile</a></p> 
         <p><a class="anchor" href="/catfilter/2">By shoes</a></p> 
         <p><a class="anchor" href="/catfilter/3">By clothes</a></p> 

         <h5>Filter by Price</h5>
         <hr>  
         <form action="/range">
          <div class="mb-3">
            <div class="mb-3">
              <label for="Input1" class="form-label">Min Value:</label>
              <input type="number" name ="min" class="form-control" id="Input1" placeholder="Minimum Value">
            </div><!--min value-->
            <div class="mb-3">
              <label for="Input2" class="form-label">Max Value:</label>
              <input type="number" name="max" class="form-control" id="Input2" placeholder="Maximum Value">
            </div><!--max value-->
            <div class="mb-3">
              <input type="submit"  class="btn btn-primary" value="Register">
            </div>
          </div>
         </form>
         <h5>Sort By Price</h5>
         <hr>  
         <p><a class="anchor" href="/sort/0">Low to High</a></p> 
         <p><a class="anchor" href="/sort/1">High to Low</a></p> 
</div>


<!--ending Categories-->
<!--start adding cart-->
<div class="col-md-8">
<div class="row">
  {% for x in products %}
  <div class="col-md-4  mt-4">
    <div class="card" style="width:100%">
      <img src="{{x.pimage.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{x.name}}</h5>
        <p class="card-text">{{x.price}}</p>
        {% if x.cat == 1 %}   
           <p class="card-text">Mobile</p>
        {% elif x.cat == 2 %}   
           <p class="card-text">Shoe</p>  
        {% else %}   
           <p class="card-text">Clothes</p>   
        {% endif %}   
        <a href="/pdetails/{{x.id}}" class="btn btn-primary">See Details</a>
      </div>
    </div>
  </div><!--prodcut 1 end-->
  {% endfor %}

  
  
  
 
</div>

</div>
  </div>

<!--end adding cart-->

{% endblock 'main'%}