{% extends 'base.html' %}
{% load static %}
{% block 'main'%}
<!--main product detail part-->
<div class="row mt-5">
  {% for x in products %}
  <div class="col-md-6">
      <img src="{{x.pimage.url}}" width="100%" alt="">
  </div>
    <div class="col-md-6">
  <p><strong>Product Name:</strong> {{x.name}}</p>
  <p><Strong>Price:</Strong>{{x.price}}</p>

  {% if x.cat == 1 %}
  <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Mobile</p>
  {% elif x.cat == 2 %}
  <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Shoes</p>
  {% else %}
  <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;clothes</p>
  {% endif %}
  <p><strong>Product Description</strong>Good Product</p>
  
  <a href="/addtocart/{{x.id}}"><button class="btn btn-danger">Add to Cart</button></a>
  <a href="/viewcart"><button class="btn btn-danger">view Cart</button></a>
  <a href="/home"><button class="btn btn-danger">Shop More</button></a>   
  {% if success %}
     <div class="alert alert-success">
         {{success}}
     </div>
  {% endif %}    
  {% if msg %}
     <div class="alert alert-danger">
         {{msg}}
     </div>
  {% endif %}  
</div>
{% endfor %}
</div>
<!-- end main product detail part-->
{% endblock 'main'%}